    <%- include("partials/header.ejs")%>
    <h1>Home</h1>
    <p><%= homeLorem %></p>
    <div class="homePost">           
        <% posts.forEach(function(element){ %>

            <h2><%= element.title %></h2>

            <% if(element.post.length>100){ %>
                <p><%= element.post.substring(0,100) +" ..." %> 
                <a href="/posts/<%=element.title%>">Read more</a></p>
            <% } else { %>
                <p><%= element.post %></p>
            <% } %>

        <% }); %>      
    </div>  
    <%- include("partials/footer.ejs")%>